## 결측처리_학번_이름

In [1]:
import pandas as pd

In [2]:
path = 'data.csv'

In [4]:
path

'data.csv'

In [13]:
df=pd.read_csv(path, encoding = 'cp949')
df.head(10)

,상가업소번호,상호명,Unnamed: 2,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도,지점명
0,19925178,오구피자,NaN,Q,음식,Q07,패스트푸드,Q07A01,피자전문,I56192,...,NaN,인천광역시 남구 미추홀대로 541,402200.0,22216.0,NaN,1,NaN,126.678585,37.445680,NaN
1,19925318,데이앤데이계양점피자,NaN,Q,음식,Q07,패스트푸드,Q07A01,피자전문,I56192,...,(주)신세계이마트계양점,인천광역시 계양구 봉오대로 785,407060.0,21080.0,NaN,2,NaN,126.736875,37.531024,NaN
2,19927968,우리집양념,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,NaN,인천광역시 부평구 열우물로50번길 10-2,403130.0,21445.0,NaN,1,NaN,126.700853,37.472823,NaN
3,19932479,콩나물솥뚜껑오겹살,NaN,Q,음식,Q01,한식,Q01A99,기타고기요리,I56111,...,NaN,인천광역시 연수구 용담로63번길 26,406831.0,21917.0,NaN,1,NaN,126.675299,37.419279,NaN
4,19920606,보리.보리,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,월드아파트,인천광역시 서구 검단로 836,404775.0,22628.0,NaN,1,NaN,126.693057,37.618414,NaN
5,19921312,천서리횟집,NaN,Q,음식,Q03,일식/수산물,Q03A01,횟집,I56111,...,바닷가천서리횟집,인천광역시 강화군 내가면 해안서로 917-1,417894.0,23054.0,NaN,NaN,NaN,126.376352,37.701299,NaN
6,19924138,뱃나드리식당,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,NaN,인천광역시 계양구 벌말로 596,407410.0,21009.0,NaN,1,NaN,126.780668,37.581266,NaN
7,20017254,들녁,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,NaN,인천광역시 남동구 수인로 3571-1,405270.0,21601.0,NaN,1,NaN,126.762072,37.441232,NaN
8,20068101,삼광호,NaN,Q,음식,Q03,일식/수산물,Q03A01,횟집,I56111,...,수협영흥마트,인천광역시 옹진군 영흥면 영흥로 109-10,409871.0,23118.0,NaN,1,NaN,126.496602,37.255208,NaN
9,20088240,디즈니코리아,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,드림시티,인천광역시 연수구 컨벤시아대로 81,406840.0,21995.0,NaN,NaN,207,126.650148,37.394928,NaN

In [15]:
null_count=df.isnull().sum()

In [16]:
df_null_count = null_count.reset_index()

In [17]:
df_null_count.columns=['메뉴','결측']

In [18]:
df_null_count_3 = df_null_count.sort_values(by='결측',ascending=False).head(3)

In [19]:
drop_columns = df_null_count_3['메뉴']

In [20]:
drop_columns.to_list()

['Unnamed: 2', '지점명', '동정보']

In [21]:
df[drop_columns]

        Unnamed: 2  지점명  동정보
0              NaN  NaN  NaN
1              NaN  NaN  NaN
2              NaN  NaN  NaN
3              NaN  NaN  NaN
4              NaN  NaN  NaN
...            ...  ...  ...
140072         NaN  NaN  NaN
140073         NaN  NaN  NaN
140074         NaN  NaN  NaN
140075         NaN  NaN  NaN
140076         NaN  NaN  NaN

[140077 rows x 3 columns]

In [22]:
print(df.shape)

(140077, 40)

In [23]:
df=df.drop(drop_columns, axis=1)

In [24]:
print(df.shape)

(140077, 37)

In [25]:
df.head()

,상가업소번호,상호명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,표준산업분류명,...,건물부번지,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,층정보,호정보,경도,위도
0,19925178,오구피자,Q,음식,Q07,패스트푸드,Q07A01,피자전문,I56192,"피자, 햄버거, 샌드위치 및 유사 음식점업",...,NaN,2.817010e+24,NaN,인천광역시 남구 미추홀대로 541,402200.0,22216.0,1,NaN,126.678585,37.445680
1,19925318,데이앤데이계양점피자,Q,음식,Q07,패스트푸드,Q07A01,피자전문,I56192,"피자, 햄버거, 샌드위치 및 유사 음식점업",...,NaN,2.824510e+24,(주)신세계이마트계양점,인천광역시 계양구 봉오대로 785,407060.0,21080.0,2,NaN,126.736875,37.531024
2,19927968,우리집양념,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,기타 주점업,...,2.0,2.823710e+24,NaN,인천광역시 부평구 열우물로50번길 10-2,403130.0,21445.0,1,NaN,126.700853,37.472823
3,19932479,콩나물솥뚜껑오겹살,Q,음식,Q01,한식,Q01A99,기타고기요리,I56111,한식 음식점업,...,NaN,2.818510e+24,NaN,인천광역시 연수구 용담로63번길 26,406831.0,21917.0,1,NaN,126.675299,37.419279
4,19920606,보리.보리,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,한식 음식점업,...,NaN,2.826010e+24,월드아파트,인천광역시 서구 검단로 836,404775.0,22628.0,1,NaN,126.693057,37.618414

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140077 entries, 0 to 140076
Data columns (total 37 columns):
상가업소번호       140077 non-null int64
상호명          140077 non-null object
상권업종대분류코드    140077 non-null object
상권업종대분류명     140077 non-null object
상권업종중분류코드    140077 non-null object
상권업종중분류명     140077 non-null object
상권업종소분류코드    140077 non-null object
상권업종소분류명     140077 non-null object
표준산업분류코드     131455 non-null object
표준산업분류명      131455 non-null object
시도코드         140077 non-null int64
시도명          140077 non-null object
시군구코드        140077 non-null int64
시군구명         140077 non-null object
행정동코드        140077 non-null int64
행정동명         140077 non-null object
법정동코드        140077 non-null int64
법정동명         140077 non-null object
지번코드         140077 non-null float64
대지구분코드       140077 non-null int64
대지구분명        140077 non-null object
지번본번지        140077 non-null int64
지번부번지        120328 non-null float64
지번주소         140077 non-null object
도로명코드        140077 non-null float64
도로명          140077 non-null object
건물본번지        140077 non-null int64
건물부번지        20411 non-null float64
건물관리번호       140077 non-null float64
건물명          65075 non-null object
도로명주소        140077 non-null object
구우편번호        139976 non-null float64
신우편번호        140073 non-null float64
층정보          70991 non-null object
호정보          32850 non-null object
경도           140077 non-null float64
위도           140077 non-null float64
dtypes: float64(9), int64(8), object(20)
memory usage: 39.5+ MB